.services {
        padding: 70px;
        background-color: white;
}
.card {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Adds a soft shadow */
        transition: box-shadow 0.3s ease; /* Smooth shadow transition on hover */
}
    
.card:hover {
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5); /* Increases shadow on hover */
        cursor: pointer;
}