<div class="hero-section">
    <div class="content">
      {% if user.is_authenticated %}
        <h1>DJANGOOL</h1>
        <p>Streamlining school management with a powerful, intuitive platform.</p>
      {% else %}
        <h1>DJANGOOL</h1>
        <p>Streamlining school management with a powerful, intuitive platform.</p>
        <a href="{% url 'login' %}">
          <button class="btn btn-outline-light" id="login-hero-button">Login</button>
        </a>
      {% endif %}
    </div>
  </div>
  